{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Aurifono{% endblock %}

{% block conteudo %}
<section class="page-login">
    <form method="POST">
        <div class="col-md-4 offset-md-4">
            <div class="card auth-card">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Regsitrar-se
                    </h4>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block">Regsitrar-se</button>
                    </form>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock%}