{% extends 'base.html' %}

{% block title %}Cadastro de Perguntas - Aspecto Vocal - Tipo de Voz{% endblock %}

{% block conteudo %}
<section class="page-buscaPaciente mt-5">
    <div class="offset-1 col-10 lista-pacientes">
        <h1>Lista Perguntas - Aspecto Vocal - Tipo de Voz</h1>
        <a class="link-botao" href="../novoTipodevoz/">
            <div class="col-12 col-sm-4 col-md-3 col-lg-3 btn-buscar">
                <button type="button" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#fff" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                    Nova Pergunta de Tipo de Voz
                </button>
            </div>
        </a>
        <div class="col-12 col-sm-6 col-md-7 col-lg-8 barra-busca">
            <form method="GET" id="busca-form">
                <svg id="btn-busca" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                <input class="form-control" type="text" name="busca" id="busca" placeholder="Digite a Pergunta" value="{{request.GET.busca}}">
            </form>
        </div>
        {% if messages %}
            <ul class="messages"> 
                {% for message in messages %}
                    <li {% if message.tags %}class="alert alert-{{message.tags}}" {% endif %}> {{message}} </li>
                {% endfor %}
            </ul>
        {% endif %}
        <ul class="lista"> 
            {% for tipodevoz in tipodevozs %}
            <li class="item">
                    <span><a href="/tipodevoz/{{tipodevoz.id}}">{{tipodevoz.descricao}}</a></span>
                    <div class="icones">
                        <a href="../editarTipodevoz/{{tipodevoz.id}}">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#13c430" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                </svg>
                            </span>
                        </a>
                        <a href="../excluirTipodevoz/{{tipodevoz.id}}" class="btn-excluir" id="btn-excluir">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#db1e47" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg>
                        </span>
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="paginacao col-12 col-md-11">
            <span class="link">
                {% if tipodevozs.has_previous %}
                    <a href="?page={{tipodevozs.previous_page_number}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                        </svg>
                    </a>
                {% endif %}
                {% if tipodevozs.paginator.num_pages %}
                <span class="current">
                    {{tipodevozs.number}} de {{tipodevozs.paginator.num_pages}}
                </span>
                {% endif %}
                {% if tipodevozs.has_next %}
                    <a href="?page={{tipodevozs.next_page_number}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                        </svg>
                    </a>
                {% endif %}
            </span>
        </div>
    </section>
{% endblock %}