.page-buscaPaciente{
    .lista-pacientes{
        padding-left: 0;
        .btn-buscar{
            display: inline-block;
            // background-color: #3476e2;
            // cursor: pointer;
            // color: #fff;
            // padding: 8px;  
            // border-radius: 5px;
            // white-space: nowrap;
            margin-right: 50px;
            .btn-primary{
                white-space: nowrap;
                .bi-plus{
                    margin-right:10px;
                    // margin-left:5px;
                } 
            }
        }
        .barra-busca{
            padding: 0;
            margin-top: 15px;
            margin-bottom: 15px;
            display: inline-block;
            .bi-search{  
                position: absolute;
                top: 12px;
                right: 26px; 
            }
        }
        .lista{
            padding: 0;
            .item{
                display: flex; 
                justify-content: space-between;
                list-style: none;
                font-size: 22px;
                height: 60px;
                padding-top: 10px;
                border-bottom: 1px solid #ccc;
                span{
                    a{
                        text-decoration: none;
                    }
                }
                .icones{
                    display: flex;
                    justify-content: flex-end;
                    .bi-pencil-fill, .bi-trash{
                        cursor: pointer;
                        margin: 5px;
                        font-size: 30px;
                        align-items: flex-end;
                        justify-content: flex-end;
                    }
                }
            } 
        }
    }
} 